.badge {
  width: 250px;
  border-radius: 15px;
  border: 2px solid #ccc;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  background-color: white;
}
.badge-image {
  width: 200px;  /* Fixed width */
  height: 200px; /* Fixed height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25%;
}

.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.company-info img {
  height: 80px;
}