.badge {
  position: relative;
  width: 300px;
  border-radius: 15px;
  border: 2px solid #ccc;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  background-color: white;

  display: flex;
  flex-direction: column; /* To stack children vertically, you can omit this if already set */
  align-items: center; /* Horizontal centering */
  justify-content: center; /* Vertical centering */
}
.badge-image {
  height: 200px;
  border-radius: 25%;
}

.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.company-info img {
  height: 80px;
}

.glitch-container {
  position: relative;
  height: 200px;
  width: 200px;
}