.badge-list {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 20px;
}

.animate-insert {
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-320px);
  }
  to {
    transform: translateX(0);
  }
}