.badge {
  position: relative;
  width: 300px;
  border-radius: 15px;
  border: 2px solid #ccc;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  background-color: white;
}
.badge-image {
  height: 200px;
  border-radius: 25%;
}

.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.company-info img {
  height: 80px;
}

/* Glitch Effect */

.name-layer {
  position: absolute;
  font-size: 24px;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.name {
  position: relative;
}

/* .glitch {
  animation: glitch-animation 1s infinite;
  color: #fff;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.glitch::before {
  color: red;
  animation: glitch-animation-2 1.5s infinite;
}

.glitch::after {
  color: blue;
  animation: glitch-animation-3 0.5s infinite;
}

@keyframes glitch-animation {
  0%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 20%);
  }
}

@keyframes glitch-animation-2 {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(-5px, 3px);
  }
}

@keyframes glitch-animation-3 {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(5px, -3px);
  }
} */